.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 1s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #000;
    transition: all 1s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.95;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: #97998b;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 1s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    background: #a3a599;
    transform: translate3d(0, 100%, 0);
    transition: all 1s ease-out; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
    .menu-branding .portrait {
      width: 250px;
      height: 250px;
      background: url("../images/image7.jpeg");
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 50%;
      border: solid 3px #7f152e; }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 1s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: #7f152e; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    text-decoration: none;
    color: #000;
    transition: all 1s ease-out; }
    .menu .nav-link:hover {
      color: #7f152e; }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

* {
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif; }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 4.5em; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(168, 170, 158, 0.5); }

body {
  background-color: #a3a599;
  color: #000;
  height: 100%;
  margin: 0;
  line-height: 1.5; }
  body#bg-image {
    background: url("../images/image1.jpeg");
    background-attachment: fixed;
    background-size: cover; }
    body#bg-image:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: rgba(163, 165, 153, 0.9);
      z-index: -1; }

a {
  color: #fff;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-secondary {
  color: #7f152e; }

main {
  padding: 4rem;
  min-height: calc(100vh - 60px); }
  main .social-media {
    margin-top: 1rem; }
    main .social-media a {
      padding: 0.4rem; }
      main .social-media a:hover {
        color: #7f152e;
        transition: all 1s ease-out; }
  main#home {
    overflow: hidden; }
    main#home h1 {
      margin-top: 20vh; }

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: "bioimage bio bio" "subject1 subject2 subject3";
  grid-template-columns: repeat(3, 1fr); }
  .about-info .about > .about-info > h3 {
    text-align: center;
    margin-top: 10px; }
  .about-info .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: #7f152e 3px solid;
    height: 300px;
    width: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .about-info .bio {
    grid-area: bio; }
  .about-info .subject-1 {
    grid-area: subject1; }
  .about-info .subject-2 {
    grid-area: subject2; }
  .about-info .subject-3 {
    grid-area: subject3; }
  .about-info .subject {
    background: #afb1a7;
    padding: 0.5 rem;
    border-bottom: #7f152e 5px solid; }

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.7rem; }
  .projects img {
    width: 100%;
    border: 3px #fff solid; }
    .projects img:hover {
      opacity: 0.5;
      border-color: #7f152e;
      transition: all 1s ease-out; }

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem; }
  .boxes div {
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    transition: all 1s ease-out; }
    .boxes div:hover {
      padding: 0.5rem 1.5rem;
      background: #7f152e;
      color: #fff; }
      .boxes div:hover span {
        color: #fff; }

.btn, .btn-dark, .btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem; }
  .btn:hover, .btn-dark:hover, .btn-light:hover {
    background: #7f152e;
    color: #fff; }

.btn-dark {
  background: #21211e;
  color: #fff; }

.btn-light {
  background: white;
  color: #333; }

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #8b8d7e;
  color: #000;
  height: 60px; }

@media screen and (min-width: 1171px) {
  .projects {
    grid-template-columns: repeat(4, 1fr); } }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects {
    grid-template-columns: repeat(3, 1fr); } }

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      margin-bottom: 1rem; }
    main .projects {
      grid-template-columns: repeat(2, 1fr); }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show,
    div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0); }
    .menu-branding .portrait {
      background: url("../images/image7.jpeg");
      width: 150px;
      height: 150px;
      background-size: cover;
      background-repeat: no-repeat; }
  .about-info {
    grid-template-areas: "bioimage" "bio" "subject1" "subject2" "subject3";
    grid-template-columns: 1fr; }
  .projects {
    grid-template-columns: 1fr; } }

@media screen and (max-width: 500px) {
  main#home h1 {
    margin-top: 10vh; } }
